*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    :root {
        --text-color: #202020;
        --hover: #4d30ab;
    }
    
    h1, h2, h3, h4, 
    h5, h6, p, a, i {
        color: var(--text-color);
        font-family: Nunito, sans-serif;
    }
    
    /*************Styling for body. Display flex used to ensure footer stays at the bottom***********/
    body {
        display: flex;
        flex-direction: column;
        background-color: #f7f7f5;
        margin: 4.5em 4em 0 4em;
    }
    
    /********************************Styling for header & navbar*************************************/
    .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80px;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        background-color: #f7f7f5;
        padding: 0 2em;
        box-shadow: 0.5px 0.5px 1px #727272;
    }
    .logo img {height: 50px;}
    .menu {display: flex;}
    .menu li {padding-left: 1em;}
    .menu li a {
        font-size: 1.125rem;
        font-weight: 600;
        display: inline-block;
        text-decoration: none;
        color: var(--text-color);
        text-align: center;
        transition: all 0.3s;
        position: relative;
        text-transform: uppercase;
    }
    
    .menu li a:hover {color: var(--hover);}
    .open-menu , .close-menu {
        position: absolute;
        color: var(--color1);
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }
    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }
    .close-menu {
        top: 20px;
        right: 20px;
    }
    #check {display: none;}
    
/*******************************Styling for about me section***************************************/
.about-me {
    margin: 2em 0em;
}

.about-me p {
    font-size: 1.125rem;
}

.about-me img {
    height: 65px;
}

.h2 {
    margin: 1em 0 0.25em 0;
}

/**********************************Styling for projects section.*********************************/
.projects-section {
    margin-top: 2em;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 16px;
}

.projects-section h5 {
    font-size: 2rem;
    text-align: center;
}

.project {
    max-width: 648px;
    height: fit-content;
    border-radius: 16px;
    box-shadow: 0.5px 0.5px 4px 0px #727272;
    padding: 1em;
    background: linear-gradient(to bottom, #F3F7FC 60%, #fff 40%);
    margin-top: 1em;
}

.project .image {
    margin: auto;
    max-width: 100%;
}

.project img {
    width: 100%;
    box-shadow: 0px 0.5px 4px 0px #727272;
    border-radius: 8px;
}

.project .heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.5em 0 0.25em 0;
}

.heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.heading .skills {
    display: flex;
    gap: 16px;
    font-size: 0.875rem;
}

#html {
    background-color: #FFEAE4;
    padding: 0em 1em;
    border-radius: 4px;
}

#css {
  background-color: #E4ECFF;
  padding: 0em 1em;
  border-radius: 4px;
}

#js {
    background-color: #fffae4;
    padding: 0em 1em;
    border-radius: 4px;  
}
.project h5 {
    text-align: left;
    font-size: 1.125rem;
    margin-top: 0.5em;
}

.project p {
    text-align: left;
    font-size: 1em;
}

.see-live-preview {
    width: fit-content;
    display: flex;
    gap: 16px;
    justify-content: left;
    align-items: center;
    background-color: #A7B1FF;
    padding: 0.625em 1em;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0.5px 0.5px 1px #727272;
    margin-top: 0.5em;
}

/***********************************Styling for footer******************************************/
footer {
    text-align: center;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0;
}

.footer {
    max-height: fit-content;
    margin-top: 2em;
}

.footer hr {
    color: #20202021;
}

.socials a {
    text-decoration: none;
}

.socials a i {
    font-size: 2rem;
    transition: all 0.3s;
    margin-right: 0.5em;
}

.socials a i:hover {
    color: var(--hover);
}

/*********************************Syling for media query*************************************/
@media(max-width: 597px) {
    body {
        margin: 4.5em 1em 0 1em; 
    }
    
    .menu {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: fit-content;
        height: 35%;
        padding: 0 2em;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #f7f7f5;
        transition: all 0.3s;
    }
    .menu li {
        margin-top: 40px;
        text-align: start;
    }
    .open-menu , .close-menu {
        display: block;
        color: var(--dark-grey);
    }
    #check:checked ~ .menu {right: 0;}
}

@media(max-width: 768px) {
    .projects-container {
        grid-template-columns: 1fr;
    } 
}
